name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup MSBuild (Visual Studio 2022)
        uses: microsoft/setup-msbuild@v1
        with:
          vs-version: '17.0'

      - name: Build detours (Release | x64)
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\Tools\VsDevCmd.bat" -arch=amd64
          msbuild "3rdparty/detours/vc/Detours.sln" /m /p:Configuration=ReleaseMD /p:Platform=x64
        shell: cmd
        # detours forces build of its samples and not all of them build
        continue-on-error: true

      - name: Build detours (Release | x86)
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\Tools\VsDevCmd.bat"
          msbuild "3rdparty/detours/vc/Detours.sln" /m /p:Configuration=ReleaseMD /p:Platform=x86
        shell: cmd
        # detours forces build of its samples and not all of them build
        continue-on-error: true

      - name: Build solution (Release | x64)
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\Tools\VsDevCmd.bat" -arch=amd64
          msbuild "src/myinput.sln" /m /p:Configuration=Release /p:Platform=x64
        shell: cmd

      - name: Build solution (Release | x86)
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\Tools\VsDevCmd.bat"
          msbuild "src/myinput.sln" /m /p:Configuration=Release /p:Platform=x86
        shell: cmd

      - name: Delete unwanted
        run: |
          del src/Run/Configs/myinput_test.ini
        shell: cmd

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: MyInput_Windows
          path: |
            src/Run
            !**/*.exp
            !**/*.pdb
            !**/myinput_test.*
